<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="profile.html"><img src="theme/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered"> {{ Utilisateur }} </h5>

            <li class="mt">
                <a href="front_controler.php?action=ajoute_film">
                    <i class="fa fa-desktop"></i>
                    <span>Ajouter Film</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="front_controler.php?action=login" >
                    <i class="fa fa-desktop"></i>
                    <span>Login</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="front_controler.php?action=liste_films" >
                    <i class="fa fa-desktop"></i>
                    <span>Lister les Films</span>
                </a>
            </li>
            
            <li class="sub-menu">
                <a href="front_controler.php?action=liste_series" >
                    <i class="fa fa-desktop"></i>
                    <span>Lister les Séries</span>
                </a>
            </li>
            
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

