{% extends "Modele/_TEMPLATE.html.twig" %}

{% block contenu %}
    <!--main content start-->

    <h4><i class="fa fa-angle-right"></i> Liste des films</h4>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Realisateur</th>
                <th>Annee</th>
            </tr>
        </thead>
        <tbody>
            {% for f in films %}
                {% include 'Modele/ligneTableauFilm.html.twig' with {id: f.id, titre: f.titre, realisateur: f.realisateur, annee: f.annee} %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}